body {
    //overflow:hidden;
}

@font-face {
    font-family: '18thCentury';
    src: url('18thCentury.ttf'); /* IE9 Compat Modes */
    src: url('18thCentury.ttf') format('truetype'); /* Safari, Android, iOS */
}

a:link {
    text-shadow: 0px 0px 0px white !important;
}

#gameMap {
    width: 3770px;
    height: 1840px;
    background-image: url("images/baseMap.jpg");
    background-size: 100% 100%;
}

#loginbody {
    background: url(images/logMap.jpg) no-repeat center center fixed;
    background-size: 120%;
    animation:10s bgzoom infinite ease-in-out;
}

@keyframes bgzoom {
    0%   {background-position-x: 0%;}
    50%  {background-position-x: 10%;}
    100% {background-position-x: 0%;}
}

#wrapperlogin {
    text-align: center;
    font-family: 'Delius Unicase', cursive;
    vertical-align: middle;
    transform: translateY(7%);
    background: rgba(0, 0, 0, 0.2);
    padding-top: 2em;
    padding-bottom: 2em
}

#startHeading {
    font-family: '18thCentury', serif;
    font-size: 5em;
    text-shadow: 1px 1px #fff;
    margin-bottom: 20px;
}

#startGameLogo {
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}

#logSubmit {
    margin-left: 250px;
    margin-bottom: 10px;
    padding: 0px;
    width: 70px;
}

.dropdowncountry {
    height: 7px;
    width: 7px;
    margin-top: 0.5em;
    float: left;
    background-color: blue;
}

.modal-dialog {
    position: fixed !important;
    margin-top: 60px !important;
    margin-left: 8px !important;
    width: 300px !important;
}

header {
    margin-bottom: 40px;
}

input {
    margin-left: 100px;
    margin-bottom: 10px;
    padding-right: 50px;
}

label {
    display: inline-block;
    width: 10px;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
}

svg {
    width: 100%;
    height: 100%;
}

path {
    opacity: 0;
    fill: rgba(19, 14, 13, 0.8);
    stroke: rgba(38, 28, 26, 1);
    stroke-width: 10px;
}

path:hover:not(.active):not(.others) {
    animation: opacityShow 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    cursor: pointer;
}

.active:hover:not(.others) {
    animation: opacityShowActive 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    cursor: pointer;
}

.chosen {
    animation: chosenShow 1s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.active {
    opacity: 0.5;
    mix-blend-mode: multiply;
}

.teal {
    fill: #358b86;
    stroke: #358b86;
}

.purple {
    fill: #992fca;
    stroke: #992fca;
}

.green {
    fill: #58a004;
    stroke: #58a004;
}

.blue {
    fill: #2437a8;
    stroke: #2437a8;
}

.red {
    fill: #c03211;
    stroke: #c03211;
}

.yellow {
    fill: #f7b71a;
    stroke: #f7b71a;
    opacity: 0.7;
}

#zoomIn, #zoomOut {
    cursor: pointer;
}

.others {
    fill: black;
    stroke: black;
    animation: opacityShow 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    cursor: pointer;
}


.others:hover {
    opacity: 1 !important;
    cursor: pointer;
}

@keyframes opacityShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}

@keyframes opacityShowActive {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes chosenShow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(1);
        transform-origin: 0px 0px;
    }
    to {
        transform: scale(1.25)
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(0.8)
    }
}

@-moz-keyframes zoomIn {
    from {
        -moz-transform: scale(1)
    }
    to {
        -moz-transform: scale(1.25)
    }
}

@-moz-keyframes zoomOut {
    from {
        -moz-transform: scale(1)
    }
    to {
        -moz-transform: scale(0.8)
    }
}

@-webkit-keyframes zoomIn {
    from {
        -webkit-transform: scale(1)
    }
    to {
        -webkit-transform: scale(1.25)
    }
}

@-webkit-keyframes zoomOut {
    from {
        -webkit-transform: scale(1)
    }
    to {
        -webkit-transform: scale(0.8)
    }
}

@-o-keyframes zoomIn {
    from {
        -o-transform: scale(1)
    }
    to {
        -o-transform: scale(1.25)
    }
}

@-o-keyframes zoomOut {
    from {
        -o-transform: scale(1)
    }
    to {
        -o-transform: scale(0.8)
    }
}

a:link {
    text-decoration: none;
    color: yellow;
    text-shadow: 2px 2px #333;
    font-weight: bold;

}

#ifAttackIsPossible > button {
    margin-bottom: 5px;
}

.modal-footer > p {
    text-align: left;
}